* {
    margin: 0;
    padding: 0;
    outline: 3vh solid white;
    box-sizing: border-box;
}

body {
    padding: 0 3vh;
    outline: 3vh solid white;
}

div {
    background-color: #B3B5B4;
}

.parte-arriba,
.parte-abajo,
.cacho-izq,
.cacho-der {
    background-color: white;
}

.contenedor-grande {
    display: flex;
    height: 100vh;
}

.lado-izquierdo {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.lado-derecho {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.parte-arriba {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.grupo-chido {
    flex: 4;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.cajita1 {
    flex: 3;
    height: 30vh;
}

.cajita2 {
    flex: 4;
    height: 20vh;
    outline: none;
}

.grupo-peque {
    flex: 1;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.cosita {
    flex: 1;
    width: 25vh;
    height: 25vh;
    outline: 1.5vh solid white;
}

.parte-abajo {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}

.rayita-vertical {
    flex: 1;
    width: 10vh;
    height: 47vh;
}

.combo-barras {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 47vh;
    margin-bottom: 3vh;
    gap: 1vh;
}

.rayita-horizontal {
    flex: 1;
    width: 75vh;
    height: 25vh;
}

.cacho-izq {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.bloque-grandote {
    flex: 1;
    height: 50vh;
    margin-top: 3vh;
}

.grupo-final {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-top: 1vh;
}

.barra-gorda {
    width: 10vh;
    height: 25vh;
    outline: 2.5vh solid white;
}

.cacho-der {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-top: 3vh;
}

.caja-chica {
    flex: 1;
    height: 27vh;
    outline: solid white;
}

.caja-grande {
    flex: 1;
    height: 67vh;
}
