body {
    background-color: rgb(ffffff);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.container {
    padding: 10px;
    margin: auto;
    width: 800px;
    height: auto;
    justify-content: space-between;
    display: flexbox;
    background-color: rgb(ffffff);
}

.row {
    margin: 15px;
    display: flexbox;
    background-color:#59C6ED;
    width: 790px;
    height: 225.5px;
}
.row2{
    margin: 15px;
    display: flexbox;
    background-color:#ffffff;
    width: 790px;
    height: 225.5px;
}
img {
    margin-inline: 30px;
    margin-top: 12px;
    width: 200px;
    height: 200px;
    display: flexbox;
  
}

#center {
    margin-inline: 90px;
}

#beige {
    background-color: rgb(255, 159, 224);
}